{{page-title "Editor"}}

<div class="editor-menu">
  {{this.signServer.appPath}}
  <LinkTo @route="index">Index</LinkTo>
</div>

<div class="editor-container">
  <div class="panel-left">
    <FileTree @items={{this.signServer.fileList}} @selectFile={{this.editFile}}/>
  </div>
  <div class="content">
    {{#if this.edit}}
      <SourceEditor @filename={{this.edit}} @source={{this.source}} @onSave={{this.save}}/>
    {{/if}}
  </div>
</div>